{
  "cache": false,
  "check-coverage": true,
  "extension": [
    ".ts"
  ],
  "include": [
    "src"
  ],
  "exclude": [
    "src/infra/server.ts",
    "src/index.ts"
  ],
  "sourceMap": true,
  "reporter": [
    "html",
    "text",
    "text-summary"
  ],
  "all": true,
  "instrument": true
}